

     p, ul {  color: black;}

     hr {height: 10px;
   }
   span h1 {color: midnightblue;
   	font-weight: bold;
   	font-style: italic;}
   h1 {color: whitesmoke;}
   h3 { color: cornflowerblue; }

.color_blu {color: blueviolet;}
.logo {height: 100px;}
.photo {height: 500px;}

#small {font-size: 15px;}

     body {background-color: #f89406;}
     footer  {background-color: black;
     	}
     	footer p {color: orange;}

  .darkred {color: darkred;}
   
  
     

    

    
          }








